<%- include('partials/head.ejs') %>

<!--Header-->

<div class="header">
  <img src="./images/sus.png" width="100">  
  <div class="header-right">   
    <a href="/index">Principal</a>
    <a class="active" href="/buscaPct">Buscar Paciente</a> 
    <a href="/sobre">Sobre</a>
  </div>
</div>


<!--Form-->
<div class="formContainer">
<form action="/buscaPct" method="post">
  <h3 id='messageIndex'><%=message%></h3>
  <h2>Buscar Paciente</h2>  
  <label for="lbl_buscaPaciente">Nome ou CPF</label>
  <input type="text" id="lbl_BuscaPaciente" class="defaultInput" name="pesquisa">  
  <button type="submit" class="defaultButton">Buscar</button> 
</form>
</div>
<div class="tabela">
  <% if(data !== null){ %>
    <table>
      <tr>
        <th>Nome</th>
        <th>Nome Mãe</th>
        <th>Data Nasc</th>
        <th>CPF</th>
        <th>Histórico Atendimento</th>
        <th>Histórico internação</th>
        <th>Registrar Atendimento</th>
        <th>Internar Paciente</th>
      </tr>
    <% data.forEach(function(p) { %>    
        <tr>
          <td><%=p.nome%></td>
          <td><%=p.nomeMae%></td>
          <td><%=p.dataNasc%></td>
          <td><%=p.cpf%></td>          
          <td>
            <form action="/historicoAtend" method="post">
              <input type="text" name="cpf" value="<%=p.cpf%>" style="display:none">
              <button type="submit" class="defaultButton">Visualizar</button>
            </form>            
          </td>
          <td>
            <form action="/historicoInter" method="post">
              <input type="text" name="cpf" value="<%=p.cpf%>" style="display:none">
              <button type="submit" class="defaultButton">Visualizar</button>
            </form>            
          </td>
          <td>
            <form action="/interfaceFAA" method="post">
              <input type="text" name="cpf" value="<%=p.cpf%>" style="display:none">
              <button type="submit" class="defaultButton">Atender</button>
            </form>
          </td>
          <td>
            <form action="/interfaceInter" method="post">
              <input type="text" name="cpf" value="<%=p.cpf%>" style="display:none">
              <button type="submit" class="defaultButton">Internar</button>
            </form>      
          </td>
        </tr>   
    
    <% }) %>
  </table>
    <% } %>
  
</div>
 
  

<%- include('partials/footer.ejs') %>