<%- include('partials/head.ejs') %>

<!--Header-->

<div class="header">
  <img src="./images/sus.png" width="100">  
  <div class="header-right">   
    <a class="active" href="/index">Principal</a>
    <a href="/cadPct">Cadastrar Paciente</a>
    <a href="/buscaPct">Buscar Paciente</a> 
    <a href="/sobre">Sobre</a>
  </div>
</div>

<h3 id='mensagemIndex'>Internações do Paciente</h3>
<!--Form-->
</div>
<div class="tabela">
  <% if(data !== null){ %>
    <table>
      <tr>
        <th>RH</th>
        <th>FAA</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Internação</th>
        <th>Clínica</th>
        <th>HD</th>        
      </tr>
    <% data.forEach(function(p) { %>    
        <tr>
          <td><%=p.rh%></td>
          <td><%=p.faa%></td>
          <td><%=p.nome%></td>
          <td><%=p.cpf%></td>
          <td><%=p.dataInter%></td>
          <td><%=p.clinica%></td>
          <td><%=p.hd%></td>                 
        </tr>    
    <% }) %>
  </table>
    <% } %>
</div>
 
  

<%- include('partials/footer.ejs') %>