<%- include('partials/head.ejs') %>

<!--Header-->

<div class="header">
  <img src="./images/sus.png" width="100">  
  <div class="header-right">   
    <a class="active" href="/index">Principal</a>
    <a href="/buscaPct">Buscar Paciente</a> 
    <a href="/sobre">Sobre</a>
  </div>
</div>


<!--Form-->
<div class="formPaciente">
<form action="/regInter" method="post">
  <h2>Cadastrar Internação</h2>
  <h3 >Nome: <%-data.nome %></h3>
  <h3 >Atendimento: <%-data.faa %></h3>
  <h3 >CPF nº: <%-data.cpf %></h3>
  <form action="/cadastroPct" method="POST">      
    <label >Data de Internacao:</label>
    <input type="date" class="specialInput" name="dataInter"></br>
       <label for="lbl_clinica">Clinica:</label>
    <input type="text" id="lbl_local"  class="defaultInput" name="clinica"></br>
    <label for="lbl_HD">HD:</label>
    <input type="text" id="lbl_HD"  class="defaultInput" name="hd"></br> 
    <input type="text" name="cpf" value="<%-data.cpf%>" hidden>
    <input type="text" name="faa" value="<%-data.faa%>" hidden>
    <input type="text" name="nome" value="<%-data.nome%>" hidden>
    <button type="submit" class="defaultButton">Cadastrar</button>
    <br>
    <a href="/index">Retornar</a> 
</form>
  


</div>


<%- include('partials/footer.ejs') %>